<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MetaClip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MetaClip.Properties.Settings>
            <setting name="LibraryLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultCategory" serializeAs="String">
                <value/>
            </setting>
            <setting name="FilterCategory" serializeAs="String">
                <value/>
            </setting>
        </MetaClip.Properties.Settings>
    </userSettings>
    <!-- Other project build settings ... -->

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
